{{#if obj.data}}
<table width="100%">
	<tr>
	{{#each obj.labels as |label|}}
		<th>{{label}}</th>
	{{/each}}
	</tr>
{{#each obj.data as |item|}}
	<tr>
	{{#each item as |el|}}
	<td>{{el}}</td>
	{{/each}}
	</tr>
{{/each}}
</table>
{{else}}
<p>Data not available.</p>
{{/if}}