{{#unless months}}
	<p>Data not available.</p>
{{/unless}}

{{#if months}}
{{#each months as |month|}}
	<li>MBOE Per Day: {{month.newboeproduction_mboeperday}}, {{{delta-direction month.pctchgboe}}}

	</li>
{{/each}}
{{/if}}