/plugins/diindex/app/node_modules
npm-debug.log
/plugins/diindex/app/tmp
/plugins/diindex/app/common-tmp
*.tgz
/plugins/diindex/app/docs/build
.node_modules-tmp
.bower_components-tmp
/plugins/diindex/app/bower_components