<div class="row">
	<div class="small-12 columns text-center">
		<h2>Loading...</h2>
		{{#if isProduction}}
		<p><img src="/wp-content/plugins/diindex/app/dist/vendor/oval.svg" /></p>
		{{else}}
		<p><img src="vendor/oval.svg" /></p>
		{{/if}}
	</div>
</div>