<div class="row">
	<div class="small-12 columns text-center">
		<h2>Loading...</h2>
		{{#if isProduction}}
		<img src="/wp-content/plugins/diindex/app/dist/vendor/oval.svg" />
		{{else}}
		<img src="vendor/oval.svg" />
		{{/if}}
	</div>
</div>