{{#unless months}}
	<p>Data not available.</p>
{{/unless}}

{{#if months}}
<ul>
{{#each months as |month|}}
	<li>BCF Per Day: {{month.newgasproduction_bcfperday}}, {{{delta-direction month.pctchggas}}}</li>
{{/each}}
</ul>
{{/if}}