<!-- widgetOptions, onState, offState -->
<div class="toggle-panels">
	<div class="toggle-panel">
		{{top-ten obj=offState}}
	</div>
	<div class="toggle-panel" data-display="hidden">
		{{top-ten obj=onState}}
	</div>
	<a href="http://faster.drillinginfo.com/di-index-get-more-info" target="_blank" class="large button"><i class="fi-info"></i> Get More Info</a>
</div>