<!-- widgetOptions, onState, offState -->
<div class="toggle-panels">
	<div class="toggle-panel">
		{{top-ten obj=offState}}
	</div>
	<div class="toggle-panel" data-display="hidden">
		{{top-ten obj=onState}}
	</div>
</div>