<h2 id="title">DI Index Data Test</h2>
<nav style="font-size:10px;">
	  {{#link-to 'gas-prod'}}Gas Production{{/link-to}} | {{#link-to 'oil-prod'}}Oil Production{{/link-to}} | {{#link-to 'us-prod-cap'}}U.S. Production Capacity{{/link-to}}
</nav>
{{outlet}}
